node_modules
package-lock.json
sessions
tmp/*
enc/*
*.bak
main.js.bak
plugins_bak/
handlerr.js
sftp/
database.json
config.js
bot.sh

plugins/_monitor-mc.js
plugins/_autoviewonce.js
plugins/_cf_API.js
plugins/ai-farel.js
Nao-MD.zip